.form {
  display: flex;
  flex-direction: column;
  padding: 40px;

  &__title {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.form__label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $secondary-font-color;
}

.form__input {
  width: 448px;
  height: 40px;
  padding: 11px 12px 11px 42px;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  @include transition(border-color);

  &:hover,
  &:focus-within {
    border-color: $accent-color;
  }
}

.form__textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  @include transition(border-color);

  cursor: pointer;
  resize: none;

  &:hover,
  &:focus-within {
    border-color: $accent-color;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form__label--terms {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $secondary-font-color;
}

.form__terms-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $accent-color;
}

.form__check-icon {
  width: 15px;
  height: 15px;

  margin-right: 8px;

  border: 1px solid $primary-font-color;
  border-radius: 2px;
}

.form__input--terms {
  width: 16px;
  height: 15px;
  margin-right: 8px;

  @extend %visually-hidden;

  &:checked + .form__check-icon {
    background-color: $accent-color;
    border-color: $accent-color;
    background-image: url('../images/icon-svg/check-icon.svg');
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:focus + .form__check-icon {
    border-color: $accent-color;
  }
}

.form__box {
  position: relative;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 11px;

  @include transition(fill);
}

.form__input:hover + .form__icon,
.form__input:focus-within + .form__icon {
  fill: $accent-color;
}
