.grid {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  margin-top: -30px;
  margin-left: -30px;
}

.grid__item {
  margin-top: 30px;
  margin-left: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% / 2 - 30px));
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% / 3 - 30px));
  }

  cursor: pointer;
}

.grid__project {
  display: block;

  @include transition(box-shadow);
  @include transition(transform);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    &:hover .grid__text-transform,
    &:focus .grid__text-transform {
      transform: translateY(0%);
    }
  }
}

.grid__thumb {
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.grid__card {
  display: block;
  height: 100%;
}

.grid__text-transform {
  position: absolute;

  top: 0;
  left: 0;

  height: 100%;

  transform: translateY(100%);

  @media screen and (max-width: 480px) {
    padding: 77px 24px;
  }

  @media screen and (min-width: 768px) {
    padding: 49px 24px 77px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }

  font-size: 18px;
  line-height: 1.6;

  letter-spacing: 0.03em;

  color: $wite-text-color;
  background-color: rgba(33, 150, 243, 0.9);

  @include transition(transform);
}

.grid__box {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  &--big {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 20px 24px 56px 24px;
    }
  }
}

.grid__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $primary-font-color;
}

.grid__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: $secondary-font-color;
}
