.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: $primary-font-color;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: block;
    padding: 16px 32px;
    width: 170px;
    height: 92px;

    flex-basis: calc((100% - 150px) / 6);

    border: 1px solid $icon-color;
    border-radius: 4px;

    fill: $icon-color;

    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }
}
